@page "/Account"
@using Manager
<h3>Account Logs</h3>

@if (_acclog.Error != null)
{
    <h5>ERROR: @_acclog.Error</h5>
} else if (_acclog.Duration > 0)
 {
     <h5>Duration: @_acclog.Duration seconds</h5>
 }

<div class="row">
    <div class="col-lg-8">
        <EditForm Model="_input" OnSubmit="ExecuteDivider">
            <textarea placeholder="Paste your logs here..." class="form-control" rows="7" @bind="_input"></textarea>
            <button class="btn btn-dark">Render</button>
        </EditForm>
    </div>
    <div class="col-lg-4">
        <CatGif></CatGif>
    </div>
</div>
<div class="row">
    @try
    {
        @if (_acclog.Main.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Main" Content="@_acclog.Main"></ContentArea>
            </div>
        }
        @if (_acclog.Team.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Team" Content="@_acclog.Team"></ContentArea>
            </div>
        }
        @if (_acclog.Country.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Country" Content="@_acclog.Country"></ContentArea>
            </div>
        }
        @if (_acclog.Local.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Local" Content="@_acclog.Local"></ContentArea>
            </div>
        }
        @if (_acclog.Sms.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Sms" Content="@_acclog.Sms"></ContentArea>
            </div>
        }
        @if (_acclog.Support.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Support" Content="@_acclog.Support"></ContentArea>
            </div>
        }
        @if (_acclog.Cad.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Cad" Content="@_acclog.Cad"></ContentArea>
            </div>
        }
        @if (_acclog.Advert.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Advert" Content="@_acclog.Advert"></ContentArea>
            </div>
        }
        @if (_acclog.KillDeaths.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Kill Deaths" Content="@_acclog.KillDeaths"></ContentArea>
            </div>
        }
        @if (_acclog.Group.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Group" Content="@_acclog.Group"></ContentArea>
            </div>
        }
        @if (_acclog.Squad.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Squad" Content="@_acclog.Squad"></ContentArea>
            </div>
        }
        @if (_acclog.Unit.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Unit" Content="@_acclog.Unit"></ContentArea>
            </div>
        }
        @if (_acclog.TTransactions.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="T$ Transactions" Content="@_acclog.TTransactions"></ContentArea>
            </div>
        }
        @if (_acclog.GTransactions.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="G$ Transactions" Content="@_acclog.GTransactions"></ContentArea>
            </div>
        }
        @if (_acclog.PlayerTransactions.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Player Transactions" Content="@_acclog.PlayerTransactions"></ContentArea>
            </div>
        }
        @if (_acclog.JoinQuit.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="JoinQuit" Content="@_acclog.JoinQuit"></ContentArea>
            </div>
        }
        @if (_acclog.Hit.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Hits" Content="@_acclog.Hit"></ContentArea>
            </div>
        }
        @if (_acclog.Occupation.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Occupation" Content="@_acclog.Occupation"></ContentArea>
            </div>
        }
        @if (_acclog.Other.Any())
        {
            <div class="col-lg-@_colSize">
                <ContentArea Title="Other" Content="@_acclog.Other"></ContentArea>
            </div>
        }
    }
    catch (Exception e)
    {
        Console.WriteLine(e);
    }
    @for (int i = 0; i < 10; i++)
    {
        <br/>
    }
</div>

@code {
    private string _input;
    private Acclog _acclog;
    private int _colSize;

    protected override void OnInitialized()
    {
        _colSize = 6;
        _input = "";
        _acclog = new Acclog();
        base.OnInitialized();
    }

    private void ExecuteDivider()
    {
        _acclog = new Acclog();
        _acclog.Divide(_input);
    }

}